html, body {
    height: 100%;
    width: 100%;
}

.welcome-rodger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    background: #f6fdff no-repeat fixed center;
}

.main-rodger-img {
    border-radius: 50%;
    max-height: 200px;
}

@media (max-width: 1024px) {
    .welcome-rodger-container {
        padding: 5% 0 5% 0;
    }
}

.shadow-button {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-button:hover {
    box-shadow: 2px 4px 10px rgba(0,0,0,0.25), 0 1px 10px rgba(0,0,0,0.22);
}

